* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./bg-image.jpg');
    background-size: cover;
}

.wrapper {
    width: 500px;
    margin: 150px auto;
}

.wrapper-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.wrapper-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}

.wrapper-item h1 {
    font-size: 54px;
    font-weight: bold;
}

.wrapper-item span {
    font-size: 24px;
}

.wrapper-title {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
}

.congrat {
    text-align: center;
    margin-top: 20px;
    background-color: red;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
    font-size: 96px;
}